*,::before,::after{
accent-color: var(--accent-color); --accent-color: initial;
align-content: var(--align-content); --align-content: initial;
align-items: var(--align-items); --align-items: initial;
align-self: var(--align-self); --align-self: initial;
alignment-baseline: var(--alignment-baseline); --alignment-baseline: initial;
all: var(--all); --all: initial;
animation: var(--animation); --animation: initial;
animation-composition: var(--animation-composition); --animation-composition: initial;
animation-delay: var(--animation-delay); --animation-delay: initial;
animation-direction: var(--animation-direction); --animation-direction: initial;
animation-duration: var(--animation-duration); --animation-duration: initial;
animation-fill-mode: var(--animation-fill-mode); --animation-fill-mode: initial;
animation-iteration-count: var(--animation-iteration-count); --animation-iteration-count: initial;
animation-name: var(--animation-name); --animation-name: initial;
animation-play-state: var(--animation-play-state); --animation-play-state: initial;
animation-range: var(--animation-range); --animation-range: initial;
animation-timeline: var(--animation-timeline); --animation-timeline: initial;
animation-timing-function: var(--animation-timing-function); --animation-timing-function: initial;
appearance: var(--appearance); --appearance: initial;
aspect-ratio: var(--aspect-ratio); --aspect-ratio: initial;
backdrop-filter: var(--backdrop-filter); --backdrop-filter: initial;
backface-visibility: var(--backface-visibility); --backface-visibility: initial;
background: var(--background); --background: initial;
background-attachment: var(--background-attachment); --background-attachment: initial;
background-blend-mode: var(--background-blend-mode); --background-blend-mode: initial;
background-clip: var(--background-clip); --background-clip: initial;
background-color: var(--background-color); --background-color: initial;
background-image: var(--background-image); --background-image: initial;
background-origin: var(--background-origin); --background-origin: initial;
background-position: var(--background-position); --background-position: initial;
background-repeat: var(--background-repeat); --background-repeat: initial;
background-size: var(--background-size); --background-size: initial;
baseline-shift: var(--baseline-shift); --baseline-shift: initial;
block-size: var(--block-size); --block-size: initial;
border: var(--border); --border: initial;
border-block: var(--border-block); --border-block: initial;
border-block-color: var(--border-block-color); --border-block-color: initial;
border-block-end: var(--border-block-end); --border-block-end: initial;
border-block-end-color: var(--border-block-end-color); --border-block-end-color: initial;
border-block-end-style: var(--border-block-end-style); --border-block-end-style: initial;
border-block-end-width: var(--border-block-end-width); --border-block-end-width: initial;
border-block-start: var(--border-block-start); --border-block-start: initial;
border-block-start-color: var(--border-block-start-color); --border-block-start-color: initial;
border-block-start-style: var(--border-block-start-style); --border-block-start-style: initial;
border-block-start-width: var(--border-block-start-width); --border-block-start-width: initial;
border-block-style: var(--border-block-style); --border-block-style: initial;
border-block-width: var(--border-block-width); --border-block-width: initial;
border-bottom: var(--border-bottom); --border-bottom: initial;
border-bottom-color: var(--border-bottom-color); --border-bottom-color: initial;
border-bottom-left-radius: var(--border-bottom-left-radius); --border-bottom-left-radius: initial;
border-bottom-right-radius: var(--border-bottom-right-radius); --border-bottom-right-radius: initial;
border-bottom-style: var(--border-bottom-style); --border-bottom-style: initial;
border-bottom-width: var(--border-bottom-width); --border-bottom-width: initial;
border-collapse: var(--border-collapse); --border-collapse: initial;
border-color: var(--border-color); --border-color: initial;
border-end-end-radius: var(--border-end-end-radius); --border-end-end-radius: initial;
border-end-start-radius: var(--border-end-start-radius); --border-end-start-radius: initial;
border-image: var(--border-image); --border-image: initial;
border-image-outset: var(--border-image-outset); --border-image-outset: initial;
border-image-repeat: var(--border-image-repeat); --border-image-repeat: initial;
border-image-slice: var(--border-image-slice); --border-image-slice: initial;
border-image-source: var(--border-image-source); --border-image-source: initial;
border-image-width: var(--border-image-width); --border-image-width: initial;
border-inline: var(--border-inline); --border-inline: initial;
border-inline-color: var(--border-inline-color); --border-inline-color: initial;
border-inline-end: var(--border-inline-end); --border-inline-end: initial;
border-inline-end-color: var(--border-inline-end-color); --border-inline-end-color: initial;
border-inline-end-style: var(--border-inline-end-style); --border-inline-end-style: initial;
border-inline-end-width: var(--border-inline-end-width); --border-inline-end-width: initial;
border-inline-start: var(--border-inline-start); --border-inline-start: initial;
border-inline-start-color: var(--border-inline-start-color); --border-inline-start-color: initial;
border-inline-start-style: var(--border-inline-start-style); --border-inline-start-style: initial;
border-inline-start-width: var(--border-inline-start-width); --border-inline-start-width: initial;
border-inline-style: var(--border-inline-style); --border-inline-style: initial;
border-inline-width: var(--border-inline-width); --border-inline-width: initial;
border-left: var(--border-left); --border-left: initial;
border-left-color: var(--border-left-color); --border-left-color: initial;
border-left-style: var(--border-left-style); --border-left-style: initial;
border-left-width: var(--border-left-width); --border-left-width: initial;
border-radius: var(--border-radius); --border-radius: initial;
border-right: var(--border-right); --border-right: initial;
border-right-color: var(--border-right-color); --border-right-color: initial;
border-right-style: var(--border-right-style); --border-right-style: initial;
border-right-width: var(--border-right-width); --border-right-width: initial;
border-spacing: var(--border-spacing); --border-spacing: initial;
border-start-end-radius: var(--border-start-end-radius); --border-start-end-radius: initial;
border-start-start-radius: var(--border-start-start-radius); --border-start-start-radius: initial;
border-style: var(--border-style); --border-style: initial;
border-top: var(--border-top); --border-top: initial;
border-top-color: var(--border-top-color); --border-top-color: initial;
border-top-left-radius: var(--border-top-left-radius); --border-top-left-radius: initial;
border-top-right-radius: var(--border-top-right-radius); --border-top-right-radius: initial;
border-top-style: var(--border-top-style); --border-top-style: initial;
border-top-width: var(--border-top-width); --border-top-width: initial;
border-width: var(--border-width); --border-width: initial;
bottom: var(--bottom); --bottom: initial;
box-decoration-break: var(--box-decoration-break); --box-decoration-break: initial;
box-shadow: var(--box-shadow); --box-shadow: initial;
box-sizing: var(--box-sizing); --box-sizing: initial;
break-after: var(--break-after); --break-after: initial;
break-before: var(--break-before); --break-before: initial;
break-inside: var(--break-inside); --break-inside: initial;
caption-side: var(--caption-side); --caption-side: initial;
caret-color: var(--caret-color); --caret-color: initial;
clear: var(--clear); --clear: initial;
clip: var(--clip); --clip: initial;
clip-path: var(--clip-path); --clip-path: initial;
clip-rule: var(--clip-rule); --clip-rule: initial;
color: var(--color); --color: initial;
color-interpolation: var(--color-interpolation); --color-interpolation: initial;
color-interpolation-filters: var(--color-interpolation-filters); --color-interpolation-filters: initial;
color-scheme: var(--color-scheme); --color-scheme: initial;
column-count: var(--column-count); --column-count: initial;
column-fill: var(--column-fill); --column-fill: initial;
column-gap: var(--column-gap); --column-gap: initial;
column-rule: var(--column-rule); --column-rule: initial;
column-rule-color: var(--column-rule-color); --column-rule-color: initial;
column-rule-style: var(--column-rule-style); --column-rule-style: initial;
column-rule-width: var(--column-rule-width); --column-rule-width: initial;
column-span: var(--column-span); --column-span: initial;
column-width: var(--column-width); --column-width: initial;
columns: var(--columns); --columns: initial;
contain: var(--contain); --contain: initial;
contain-intrinsic-block-size: var(--contain-intrinsic-block-size); --contain-intrinsic-block-size: initial;
contain-intrinsic-height: var(--contain-intrinsic-height); --contain-intrinsic-height: initial;
contain-intrinsic-inline-size: var(--contain-intrinsic-inline-size); --contain-intrinsic-inline-size: initial;
contain-intrinsic-size: var(--contain-intrinsic-size); --contain-intrinsic-size: initial;
contain-intrinsic-width: var(--contain-intrinsic-width); --contain-intrinsic-width: initial;
content: var(--content); --content: initial;
content-visibility: var(--content-visibility); --content-visibility: initial;
counter-increment: var(--counter-increment); --counter-increment: initial;
counter-reset: var(--counter-reset); --counter-reset: initial;
counter-set: var(--counter-set); --counter-set: initial;
cursor: var(--cursor); --cursor: initial;
direction: var(--direction); --direction: initial;
display: var(--display); --display: initial;
dominant-baseline: var(--dominant-baseline); --dominant-baseline: initial;
empty-cells: var(--empty-cells); --empty-cells: initial;
fill: var(--fill); --fill: initial;
fill-opacity: var(--fill-opacity); --fill-opacity: initial;
fill-rule: var(--fill-rule); --fill-rule: initial;
filter: var(--filter); --filter: initial;
flex: var(--flex); --flex: initial;
flex-basis: var(--flex-basis); --flex-basis: initial;
flex-direction: var(--flex-direction); --flex-direction: initial;
flex-flow: var(--flex-flow); --flex-flow: initial;
flex-grow: var(--flex-grow); --flex-grow: initial;
flex-shrink: var(--flex-shrink); --flex-shrink: initial;
flex-wrap: var(--flex-wrap); --flex-wrap: initial;
float: var(--float); --float: initial;
flood-color: var(--flood-color); --flood-color: initial;
flood-opacity: var(--flood-opacity); --flood-opacity: initial;
font: var(--font); --font: initial;
font-display: var(--font-display); --font-display: initial;
font-family: var(--font-family); --font-family: initial;
font-feature-settings: var(--font-feature-settings); --font-feature-settings: initial;
font-kerning: var(--font-kerning); --font-kerning: initial;
font-language-override: var(--font-language-override); --font-language-override: initial;
font-optical-sizing: var(--font-optical-sizing); --font-optical-sizing: initial;
font-palette: var(--font-palette); --font-palette: initial;
font-size: var(--font-size); --font-size: initial;
font-size-adjust: var(--font-size-adjust); --font-size-adjust: initial;
font-stretch: var(--font-stretch); --font-stretch: initial;
font-style: var(--font-style); --font-style: initial;
font-synthesis: var(--font-synthesis); --font-synthesis: initial;
font-synthesis-small-caps: var(--font-synthesis-small-caps); --font-synthesis-small-caps: initial;
font-synthesis-style: var(--font-synthesis-style); --font-synthesis-style: initial;
font-synthesis-weight: var(--font-synthesis-weight); --font-synthesis-weight: initial;
font-variant: var(--font-variant); --font-variant: initial;
font-variant-alternates: var(--font-variant-alternates); --font-variant-alternates: initial;
font-variant-caps: var(--font-variant-caps); --font-variant-caps: initial;
font-variant-east-asian: var(--font-variant-east-asian); --font-variant-east-asian: initial;
font-variant-emoji: var(--font-variant-emoji); --font-variant-emoji: initial;
font-variant-ligatures: var(--font-variant-ligatures); --font-variant-ligatures: initial;
font-variant-numeric: var(--font-variant-numeric); --font-variant-numeric: initial;
font-variant-position: var(--font-variant-position); --font-variant-position: initial;
font-variation-settings: var(--font-variation-settings); --font-variation-settings: initial;
font-weight: var(--font-weight); --font-weight: initial;
forced-color-adjust: var(--forced-color-adjust); --forced-color-adjust: initial;
gap: var(--gap); --gap: initial;
grid: var(--grid); --grid: initial;
grid-area: var(--grid-area); --grid-area: initial;
grid-auto-columns: var(--grid-auto-columns); --grid-auto-columns: initial;
grid-auto-flow: var(--grid-auto-flow); --grid-auto-flow: initial;
grid-auto-rows: var(--grid-auto-rows); --grid-auto-rows: initial;
grid-column: var(--grid-column); --grid-column: initial;
grid-column-end: var(--grid-column-end); --grid-column-end: initial;
grid-column-gap: var(--grid-column-gap); --grid-column-gap: initial;
grid-column-start: var(--grid-column-start); --grid-column-start: initial;
grid-gap: var(--grid-gap); --grid-gap: initial;
grid-row: var(--grid-row); --grid-row: initial;
grid-row-end: var(--grid-row-end); --grid-row-end: initial;
grid-row-gap: var(--grid-row-gap); --grid-row-gap: initial;
grid-row-start: var(--grid-row-start); --grid-row-start: initial;
grid-template: var(--grid-template); --grid-template: initial;
grid-template-areas: var(--grid-template-areas); --grid-template-areas: initial;
grid-template-columns: var(--grid-template-columns); --grid-template-columns: initial;
grid-template-rows: var(--grid-template-rows); --grid-template-rows: initial;
height: var(--height); --height: initial;
hyphenate-character: var(--hyphenate-character); --hyphenate-character: initial;
hyphens: var(--hyphens); --hyphens: initial;
image-orientation: var(--image-orientation); --image-orientation: initial;
image-rendering: var(--image-rendering); --image-rendering: initial;
image-resolution: var(--image-resolution); --image-resolution: initial;
ime-mode: var(--ime-mode); --ime-mode: initial;
inherits: var(--inherits); --inherits: initial;
initial-letter: var(--initial-letter); --initial-letter: initial;
inline-size: var(--inline-size); --inline-size: initial;
inset: var(--inset); --inset: initial;
inset-block: var(--inset-block); --inset-block: initial;
inset-block-end: var(--inset-block-end); --inset-block-end: initial;
inset-block-start: var(--inset-block-start); --inset-block-start: initial;
inset-inline: var(--inset-inline); --inset-inline: initial;
inset-inline-end: var(--inset-inline-end); --inset-inline-end: initial;
inset-inline-start: var(--inset-inline-start); --inset-inline-start: initial;
isolation: var(--isolation); --isolation: initial;
justify-content: var(--justify-content); --justify-content: initial;
justify-items: var(--justify-items); --justify-items: initial;
justify-self: var(--justify-self); --justify-self: initial;
left: var(--left); --left: initial;
letter-spacing: var(--letter-spacing); --letter-spacing: initial;
lighting-color: var(--lighting-color); --lighting-color: initial;
line-break: var(--line-break); --line-break: initial;
line-height: var(--line-height); --line-height: initial;
list-style: var(--list-style); --list-style: initial;
list-style-image: var(--list-style-image); --list-style-image: initial;
list-style-position: var(--list-style-position); --list-style-position: initial;
list-style-type: var(--list-style-type); --list-style-type: initial;
margin: var(--margin); --margin: initial;
margin-block: var(--margin-block); --margin-block: initial;
margin-block-end: var(--margin-block-end); --margin-block-end: initial;
margin-block-start: var(--margin-block-start); --margin-block-start: initial;
margin-bottom: var(--margin-bottom); --margin-bottom: initial;
margin-inline: var(--margin-inline); --margin-inline: initial;
margin-inline-end: var(--margin-inline-end); --margin-inline-end: initial;
margin-inline-start: var(--margin-inline-start); --margin-inline-start: initial;
margin-left: var(--margin-left); --margin-left: initial;
margin-right: var(--margin-right); --margin-right: initial;
margin-top: var(--margin-top); --margin-top: initial;
marker: var(--marker); --marker: initial;
marker-end: var(--marker-end); --marker-end: initial;
marker-mid: var(--marker-mid); --marker-mid: initial;
marker-start: var(--marker-start); --marker-start: initial;
mask: var(--mask); --mask: initial;
mask-border: var(--mask-border); --mask-border: initial;
mask-border-mode: var(--mask-border-mode); --mask-border-mode: initial;
mask-border-outset: var(--mask-border-outset); --mask-border-outset: initial;
mask-border-repeat: var(--mask-border-repeat); --mask-border-repeat: initial;
mask-border-slice: var(--mask-border-slice); --mask-border-slice: initial;
mask-border-source: var(--mask-border-source); --mask-border-source: initial;
mask-border-width: var(--mask-border-width); --mask-border-width: initial;
mask-clip: var(--mask-clip); --mask-clip: initial;
mask-composite: var(--mask-composite); --mask-composite: initial;
mask-image: var(--mask-image); --mask-image: initial;
mask-mode: var(--mask-mode); --mask-mode: initial;
mask-origin: var(--mask-origin); --mask-origin: initial;
mask-position: var(--mask-position); --mask-position: initial;
mask-repeat: var(--mask-repeat); --mask-repeat: initial;
mask-size: var(--mask-size); --mask-size: initial;
mask-type: var(--mask-type); --mask-type: initial;
max-block-size: var(--max-block-size); --max-block-size: initial;
max-height: var(--max-height); --max-height: initial;
max-inline-size: var(--max-inline-size); --max-inline-size: initial;
max-width: var(--max-width); --max-width: initial;
min-block-size: var(--min-block-size); --min-block-size: initial;
min-height: var(--min-height); --min-height: initial;
min-inline-size: var(--min-inline-size); --min-inline-size: initial;
min-width: var(--min-width); --min-width: initial;
mix-blend-mode: var(--mix-blend-mode); --mix-blend-mode: initial;
object-fit: var(--object-fit); --object-fit: initial;
object-position: var(--object-position); --object-position: initial;
offset: var(--offset); --offset: initial;
offset-anchor: var(--offset-anchor); --offset-anchor: initial;
offset-distance: var(--offset-distance); --offset-distance: initial;
offset-path: var(--offset-path); --offset-path: initial;
offset-position: var(--offset-position); --offset-position: initial;
offset-rotate: var(--offset-rotate); --offset-rotate: initial;
opacity: var(--opacity); --opacity: initial;
order: var(--order); --order: initial;
orphans: var(--orphans); --orphans: initial;
outline: var(--outline); --outline: initial;
outline-color: var(--outline-color); --outline-color: initial;
outline-offset: var(--outline-offset); --outline-offset: initial;
outline-style: var(--outline-style); --outline-style: initial;
outline-width: var(--outline-width); --outline-width: initial;
overflow: var(--overflow); --overflow: initial;
overflow-anchor: var(--overflow-anchor); --overflow-anchor: initial;
overflow-block: var(--overflow-block); --overflow-block: initial;
overflow-clip-margin: var(--overflow-clip-margin); --overflow-clip-margin: initial;
overflow-inline: var(--overflow-inline); --overflow-inline: initial;
overflow-wrap: var(--overflow-wrap); --overflow-wrap: initial;
overflow-x: var(--overflow-x); --overflow-x: initial;
overflow-y: var(--overflow-y); --overflow-y: initial;
overscroll-behavior: var(--overscroll-behavior); --overscroll-behavior: initial;
overscroll-behavior-block: var(--overscroll-behavior-block); --overscroll-behavior-block: initial;
overscroll-behavior-inline: var(--overscroll-behavior-inline); --overscroll-behavior-inline: initial;
overscroll-behavior-x: var(--overscroll-behavior-x); --overscroll-behavior-x: initial;
overscroll-behavior-y: var(--overscroll-behavior-y); --overscroll-behavior-y: initial;
padding: var(--padding); --padding: initial;
padding-block: var(--padding-block); --padding-block: initial;
padding-block-end: var(--padding-block-end); --padding-block-end: initial;
padding-block-start: var(--padding-block-start); --padding-block-start: initial;
padding-bottom: var(--padding-bottom); --padding-bottom: initial;
padding-inline: var(--padding-inline); --padding-inline: initial;
padding-inline-end: var(--padding-inline-end); --padding-inline-end: initial;
padding-inline-start: var(--padding-inline-start); --padding-inline-start: initial;
padding-left: var(--padding-left); --padding-left: initial;
padding-right: var(--padding-right); --padding-right: initial;
padding-top: var(--padding-top); --padding-top: initial;
page-break-after: var(--page-break-after); --page-break-after: initial;
page-break-before: var(--page-break-before); --page-break-before: initial;
page-break-inside: var(--page-break-inside); --page-break-inside: initial;
paint-order: var(--paint-order); --paint-order: initial;
perspective: var(--perspective); --perspective: initial;
perspective-origin: var(--perspective-origin); --perspective-origin: initial;
place-content: var(--place-content); --place-content: initial;
place-items: var(--place-items); --place-items: initial;
place-self: var(--place-self); --place-self: initial;
pointer-events: var(--pointer-events); --pointer-events: initial;
position: var(--position); --position: initial;
quotes: var(--quotes); --quotes: initial;
resize: var(--resize); --resize: initial;
right: var(--right); --right: initial;
rotate: var(--rotate); --rotate: initial;
row-gap: var(--row-gap); --row-gap: initial;
ruby-align: var(--ruby-align); --ruby-align: initial;
ruby-merge: var(--ruby-merge); --ruby-merge: initial;
ruby-position: var(--ruby-position); --ruby-position: initial;
scale: var(--scale); --scale: initial;
scroll-behavior: var(--scroll-behavior); --scroll-behavior: initial;
scroll-margin: var(--scroll-margin); --scroll-margin: initial;
scroll-margin-block: var(--scroll-margin-block); --scroll-margin-block: initial;
scroll-margin-block-end: var(--scroll-margin-block-end); --scroll-margin-block-end: initial;
scroll-margin-block-start: var(--scroll-margin-block-start); --scroll-margin-block-start: initial;
scroll-margin-bottom: var(--scroll-margin-bottom); --scroll-margin-bottom: initial;
scroll-margin-inline: var(--scroll-margin-inline); --scroll-margin-inline: initial;
scroll-margin-inline-end: var(--scroll-margin-inline-end); --scroll-margin-inline-end: initial;
scroll-margin-inline-start: var(--scroll-margin-inline-start); --scroll-margin-inline-start: initial;
scroll-margin-left: var(--scroll-margin-left); --scroll-margin-left: initial;
scroll-margin-right: var(--scroll-margin-right); --scroll-margin-right: initial;
scroll-margin-top: var(--scroll-margin-top); --scroll-margin-top: initial;
scroll-padding: var(--scroll-padding); --scroll-padding: initial;
scroll-padding-block: var(--scroll-padding-block); --scroll-padding-block: initial;
scroll-padding-block-end: var(--scroll-padding-block-end); --scroll-padding-block-end: initial;
scroll-padding-block-start: var(--scroll-padding-block-start); --scroll-padding-block-start: initial;
scroll-padding-bottom: var(--scroll-padding-bottom); --scroll-padding-bottom: initial;
scroll-padding-inline: var(--scroll-padding-inline); --scroll-padding-inline: initial;
scroll-padding-inline-end: var(--scroll-padding-inline-end); --scroll-padding-inline-end: initial;
scroll-padding-inline-start: var(--scroll-padding-inline-start); --scroll-padding-inline-start: initial;
scroll-padding-left: var(--scroll-padding-left); --scroll-padding-left: initial;
scroll-padding-right: var(--scroll-padding-right); --scroll-padding-right: initial;
scroll-padding-top: var(--scroll-padding-top); --scroll-padding-top: initial;
scroll-snap-align: var(--scroll-snap-align); --scroll-snap-align: initial;
scroll-snap-stop: var(--scroll-snap-stop); --scroll-snap-stop: initial;
scroll-snap-type: var(--scroll-snap-type); --scroll-snap-type: initial;
scrollbar-color: var(--scrollbar-color); --scrollbar-color: initial;
scrollbar-gutter: var(--scrollbar-gutter); --scrollbar-gutter: initial;
scrollbar-width: var(--scrollbar-width); --scrollbar-width: initial;
shape-image-threshold: var(--shape-image-threshold); --shape-image-threshold: initial;
shape-margin: var(--shape-margin); --shape-margin: initial;
shape-outside: var(--shape-outside); --shape-outside: initial;
shape-rendering: var(--shape-rendering); --shape-rendering: initial;
stop-color: var(--stop-color); --stop-color: initial;
stop-opacity: var(--stop-opacity); --stop-opacity: initial;
stroke: var(--stroke); --stroke: initial;
stroke-dasharray: var(--stroke-dasharray); --stroke-dasharray: initial;
stroke-dashoffset: var(--stroke-dashoffset); --stroke-dashoffset: initial;
stroke-linecap: var(--stroke-linecap); --stroke-linecap: initial;
stroke-linejoin: var(--stroke-linejoin); --stroke-linejoin: initial;
stroke-miterlimit: var(--stroke-miterlimit); --stroke-miterlimit: initial;
stroke-opacity: var(--stroke-opacity); --stroke-opacity: initial;
stroke-width: var(--stroke-width); --stroke-width: initial;
tab-size: var(--tab-size); --tab-size: initial;
table-layout: var(--table-layout); --table-layout: initial;
text-align: var(--text-align); --text-align: initial;
text-align-last: var(--text-align-last); --text-align-last: initial;
text-anchor: var(--text-anchor); --text-anchor: initial;
text-combine-upright: var(--text-combine-upright); --text-combine-upright: initial;
text-decoration: var(--text-decoration); --text-decoration: initial;
text-decoration-color: var(--text-decoration-color); --text-decoration-color: initial;
text-decoration-line: var(--text-decoration-line); --text-decoration-line: initial;
text-decoration-skip-ink: var(--text-decoration-skip-ink); --text-decoration-skip-ink: initial;
text-decoration-style: var(--text-decoration-style); --text-decoration-style: initial;
text-emphasis: var(--text-emphasis); --text-emphasis: initial;
text-emphasis-color: var(--text-emphasis-color); --text-emphasis-color: initial;
text-emphasis-position: var(--text-emphasis-position); --text-emphasis-position: initial;
text-emphasis-style: var(--text-emphasis-style); --text-emphasis-style: initial;
text-indent: var(--text-indent); --text-indent: initial;
text-justify: var(--text-justify); --text-justify: initial;
text-orientation: var(--text-orientation); --text-orientation: initial;
text-overflow: var(--text-overflow); --text-overflow: initial;
text-rendering: var(--text-rendering); --text-rendering: initial;
text-shadow: var(--text-shadow); --text-shadow: initial;
text-transform: var(--text-transform); --text-transform: initial;
text-underline-offset: var(--text-underline-offset); --text-underline-offset: initial;
text-underline-position: var(--text-underline-position); --text-underline-position: initial;
top: var(--top); --top: initial;
touch-action: var(--touch-action); --touch-action: initial;
transform: var(--transform); --transform: initial;
transform-box: var(--transform-box); --transform-box: initial;
transform-origin: var(--transform-origin); --transform-origin: initial;
transform-style: var(--transform-style); --transform-style: initial;
transition: var(--transition); --transition: initial;
transition-delay: var(--transition-delay); --transition-delay: initial;
transition-duration: var(--transition-duration); --transition-duration: initial;
transition-property: var(--transition-property); --transition-property: initial;
transition-timing-function: var(--transition-timing-function); --transition-timing-function: initial;
translate: var(--translate); --translate: initial;
unicode-bidi: var(--unicode-bidi); --unicode-bidi: initial;
user-select: var(--user-select); --user-select: initial;
vertical-align: var(--vertical-align); --vertical-align: initial;
visibility: var(--visibility); --visibility: initial;
white-space: var(--white-space); --white-space: initial;
widows: var(--widows); --widows: initial;
width: var(--width); --width: initial;
will-change: var(--will-change); --will-change: initial;
word-break: var(--word-break); --word-break: initial;
word-spacing: var(--word-spacing); --word-spacing: initial;
word-wrap: var(--word-wrap); --word-wrap: initial;
writing-mode: var(--writing-mode); --writing-mode: initial;
z-index: var(--z-index); --z-index: initial;
zoom: var(--zoom); --zoom: initial;
} 

